<%= form_tag({action: :upload_file}, multipart: true) do %>
  
  <% if reporte.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reporte.errors.count, "error") %> prohibited this reporte from being saved:</h2>

      <ul>
      <% reporte.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= file_field_tag 'archivo' %>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
