<!DOCTYPE html>
<html>
  <head>
    <title>Actividad</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    

  </head>

  <body>
    <% if notice %>
        <div class="alert alert-success alert-dismissable" id="notice">
           <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
           <%= notice %>
        </div> 
      <% elsif alert %>
        <div class="alert alert-danger alert-dismissable" id="alert">
           <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
           <%= alert %>
        </div>
      <% elsif flash[:warning] %> 
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
             <%= flash[:warning] %> 
        </div> 
      <% end %> 
    <%= yield %>
  </body>
</html>